<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <style>
      .table-fixed thead {
        width: 99%;
      }

      .table-fixed tbody {
        height: 300px;
        overflow-y: scroll;
        width: 100%;
      }

      .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
      }

      .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-top-width: 0;
        border-left-width: 0;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <title>Twitter Auto-Posting</title>
  </head>
  <body>

    <div class="jumbotron" style="background-color: #3399FF;color: white;padding-top: 10px; padding-bottom: 10px; padding-left: 50px; border-radius: 0">
      <h1><span><img src="/favicon.png" height="50px" width="50px" alt="Twitter Icon" style="border: 2px solid #fff; border-radius: 50%"></span> Twitter Auto-Posting</h1>
    </div>
<!--
    <form id="commentingForm">

    </form>
 -->
    <div style="padding-left: 50px; padding-right: 50px;">
      <div id="userLoggedInfo" class="card text-left form-group">
        <div class="card-header" style="font-weight: bold;">
          Current logged Information
        </div>
        <div class="card-block" style="padding-left: 30px; padding-top: 20px;">
          <div class="row form-group">
            <div class="col-md-1">
              <label style="font-weight: bold;">Username : </label>
            </div>
            <div class="col-md-3">
              <label id="username"></label>
            </div>
            <div class="col-md-1">
              <label style="font-weight: bold;">Password : </label>
            </div>
            <div class="col-md-3">
              <label id="password"></label>
            </div>
            <div class="col-md-2">
              <label style="font-weight: bold;">Total Post count : </label>
            </div>
            <div class="col-md-1">
              <label id="totalPost"></label>
            </div>
          </div>
        </div>
      </div>


<!--           <div class="col-md-6 form-group">
            <label>Comment:</label>
            <textarea id="commentMessage" class="form-control" placeholder="write a comment" rows="8"><%= commentMessage %></textarea> -->
            <!-- <div style="margin-top: 10px; float: right;" >
              <button class="btn btn-success">Change</button>
            </div> -->
          <!-- </div> -->
      <div class="pb-2">
        <button type="button" id="" class="btn btn-success" data-toggle='modal' data-target="#keywordAddModalPost" onclick="onAddPost(null,'Add Post',null)">Add Post</button>
      </div>

      <div>
        <table id="usersDataTablePost" class="table table-bordered table-hover table-striped table-fixed">
          <thead class="thead-dark">
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-5">Post</th>
              <th class="col-md-4">Photo</th>
              <th class="col-md-2">Action</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>

        <!-- <label>Post Message:</label>
        <textarea id="commentMessage" class="form-control" placeholder="write a comment" rows="8"><%= postMessage %></textarea> -->
      </div>


      <!-- <div class="row">
        <div class="col-md-6 form-group">
          <label>Minimum retweet count:</label>
          <input type="number" class="form-control" id="retweet" value="<%= retweetCount %>" min="0" max="100">
        </div>
        <div class="col-md-6 form-group">
          <label>Maximum comment per keyword:</label>
          <input type="number" class="form-control" id="maxComment" value="<%= maxCommentCount %>" min="1" max="50">
        </div>
      </div> -->

      <button type="button" id="btnStart" name="register" class="btn btn-primary" style="vertical-align: top;">Tweet</button>
      <button type="button" id="btnStop" name="stop" class="btn btn-danger" style="vertical-align: top;">Stop</button>

      <div id="posting" style="margin-left: 5px; display: inline-block; vertical-align: top;">
        <p>Processing...</p>
      </div>

      <div id="stopping" style="margin-left: 5px; display: inline-block; vertical-align: top;">
        <p>Stopping...</p>
      </div>

    </div>

    <button type="button" id="btnDeleteAll" class="btn btn-danger" style="margin-top: 50px; margin-left: 50px;">Delete All</button>
    <button type="button" id="btnResetPost" class="btn btn-danger" style="margin-top: 50px;" onclick="resetPost()">Reset Post</button>

    <div style="float: right;margin-top: 50px; margin-right: 50px; margin-bottom: 10px;">
      <button type="button" class="btn btn-primary" id="btnsettingsModal" data-toggle="modal" data-target="#settingsModal">Settings</button>
      <!-- <button type="button" class="btn btn-primary" id="btnHistoryLog" data-toggle="modal" data-target="#historyLogModal" disabled>History Logs</button> -->
      <button type="button" class="btn btn-primary" id="btnImportUsersModals" data-toggle="modal" data-target="#importModal">Import Users</button>
      <!-- <button type="button" class="btn btn-primary" id="btnExport">Export Users</button> -->
    </div>

    <div style="padding-left: 50px; padding-right: 50px;">
      <table id="usersDataTable" class="table table-bordered table-hover table-striped table-fixed">
        <thead class="thead-dark">
          <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-4">Email Address</th>
            <th class="col-md-2">Post Count</th>
            <th class="col-md-2">Block</th>
            <th class="col-md-3">Action</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <div id="noRecordIndicator" style="margin-left: 50px; margin-right: 50px; margin-top: -260px; padding-top: 5px; text-align: center;" >
      No record found.
    </div>

    <div id="waitIndicator" style="margin-left: 50px; margin-right: 50px; margin-top: -320px; padding-top: 100px; text-align: center; background: #f9fafc; height: 500px;">
      <img src="loading.gif" height="20px" alt="Loading"> Please wait while getting data from site
    </div>

    <!-- <div class="modal fade" id="historyLogModal" tabindex="-1" role="dialog" aria-labelledby="HistoryLog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">History Log</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="padding-left: 10px; padding-right: 10px;">
              <table id="asd" class="table table-bordered table-hover table-striped table-fixed">
                <thead id="historyLogTableHead" class="thead-dark">
                  <tr>
                    <th class="col-md-2">#</th>
                    <th class="col-md-6">Total Success Comments</th>
                    <th class="col-md-4">Date</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnAddEditClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="HistoryLog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Import Excel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div style="padding-left: 10px; padding-right: 10px;">
              <form ref='uploadForm' id='uploadForm' method='POST' encType="multipart/form-data">
                <input type="file" name="excelFile" accept=".csv" id="excelFile"/>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnImportUsersClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="btnImportUsers" class="btn btn-success" data-dismiss="modal" onclick="importUsersCsv()">Import</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="Settings" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Post Limit:</label>
              <input type='number' value=10 id="settingsLimit">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnProceed" class="btn btn-primary" onclick="onUpdateSettingsLimit()">SAVE</button>
            <button type="button" id="btnSettingsModalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-labelledby="Keyword" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="keywordModalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="col-form-label">Email Address:</label>
              <input type="text" class="form-control" id="keyword">
            </div>
            <div class="form-group">
              <label class="col-form-label">Password:</label>
              <input type="text" class="form-control" id="editPassword">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnSave" class="btn btn-primary" onclick="onSave()">Save</button>
            <button type="button" id="btnAddEditClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="keywordModalPost" tabindex="-1" role="dialog" aria-labelledby="Keyword" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="keywordModalTitlePost"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id='postContentDataForm' method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="keyword" class="col-form-label">Content:</label>
                <textarea class="form-control" id="content"></textarea>
                <img id="imagepath" width="467" class="mt-3">
              </div>
              <div class="form-group">
                <input type='file' onchange="changeImage(this)" id='fileImage'>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnSave" class="btn btn-primary" onclick="onSavePost()">Save</button>
            <button type="button" id="btnPostAddEditClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="keywordAddModalPost" tabindex="-1" role="dialog" aria-labelledby="Keyword" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="keywordAddModalTitlePost"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id='postContentDataForm' method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="keyword" class="col-form-label">Content:</label>
                <textarea class="form-control" id="addPostContent"></textarea>
                <img id="addPostImagePath" width="467" class="mt-3">
              </div>
              <div class="form-group">
                <input type='file' onchange="changeImage(this)" id='addPostFileImage'>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnSave" class="btn btn-primary" onclick="onSaveAddPost()">Save</button>
            <button type="button" id="btnAddPostClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="trendModal" tabindex="-1" role="dialog" aria-labelledby="Keyword" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Top trending from Naver.com</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="topic" class="col-form-label">Select site: </label>
              <div class="radio">
                <label><input type="radio" id="twitter" name="optSite" checked> Twitter</label>
              </div>
              <div class="radio">
                <label><input type="radio" id="naver" name="optSite"> Naver</label>
              </div>
            </div>
            <div class="form-group">
              <label for="topic" class="col-form-label">No. of topic: </label>
              <input type="number" class="form-control" id="topic" value="<%= noOfTopic %>" style="display: inline-block;" min="1" max="20">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnProceed" class="btn btn-primary" onclick="onProceed()">Proceed</button>
            <button type="button" id="btnTrendingClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var _externalIP = ''
      var _isWait = false
      var _isStarted = false
      var _isStopped = false
      var _id
      var _socket = io('http://localhost:7050')
      let _postData = ''
      let _usersData = ''

      _socket.on('loadSettingsData', function(data) {
        $('#settingsLimit').val(data.settings)
      })

      _socket.on('loadPostData', function(data) {

        $('#usersDataTablePost > tbody > tr').remove()
         _postData = data
         //alert(data.posts[0]['imagepath'])
          for (var i = 0; i < data.posts.length; i++) {
              tr = $('<tr/>')

              tr.append("<td class='col-md-1'><div style='padding-bottom: 100px;'>" + (i + 1) + "</div></td>")
              tr.append("<td class='col-md-5'><div style='padding-bottom: 100px;'>" + data.posts[i].content + "</div></td>")
              tr.append("<td class='col-md-4'><div style=''>" + "<img  src=" + "/images/" + data.posts[i].imagepath +" "+"width=200 height=125>" +"</div></td>")
              tr.append("<td class='col-md-2'><div style='padding-bottom: 87px;'><button type='button' class='btn btn-primary' data-toggle='modal' data-target='#keywordModalPost' onclick=\"onAddEditPost(" + "'" + data.posts[i].id + "'" + "," + "'Edit Post'" +"," + i + ")\">Edit</button>" + " <button type='button' class='btn btn-primary' data-toggle='modal' style='display: inline;' onclick=\"onDeletePost(" + "'" + data.posts[i].id +"'" +"," + i + ")\">Remove</button></div></td>")
              $('#usersDataTablePost > tbody').append(tr)
          }
      })

      _socket.on('loadUserData', function(data) {

          $('#usersDataTable > tbody > tr').remove()
          _usersData = data
          var tr
          //console.log(data)
          for (var i = 0; i < data.users.length; i++) {
              tr = $('<tr/>')

              tr.append("<td class='col-md-1'><div style='padding-bottom: 14px;'>" + (i + 1) + "</div></td>")
              tr.append("<td class='col-md-4'><div style='padding-bottom: 14px;'>" + data.users[i].username + "</div></td>")
              tr.append("<td class='col-md-2'><div style='padding-bottom: 14px;'>" + data.users[i].Posted + "</div></td>")
              tr.append("<td class='col-md-2'><div style='padding-bottom: 14px;'>" + data.users[i].Block + "</div></td>")
              tr.append("<td class='col-md-3'><button type='button' class='btn btn-primary' data-toggle='modal' data-target='#keywordModal' onclick=\"onAddEdit(" + "'" + data.users[i].id + "','" + data.users[i].username + "'," +  "'Edit User'" +"," + i+ ")\">Edit</button>" + " <button type='button' class='btn btn-primary' data-toggle='modal' style='display: inline;' onclick=\"onDelete(" + "'" + data.users[i].id + "'" + ")\">Remove</button></td>")
              $('#usersDataTable > tbody').append(tr)
          }

          if (data.users.length < 1 && !$("#waitIndicator").is(':visible')) {
            $("#noRecordIndicator").show()
          } else {
            $("#noRecordIndicator").hide()
          }

          if (_isStarted) {
            $('#usersDataTable').find("button").prop('disabled', true)
          }

      })

      _socket.on('loadHistoryLog', function(data) {

          $('#historyLogTable > tbody > tr').remove()

          var tr
          for (var i = 0; i < data.histories.length; i++) {

              tr = $('<tr/>')

              tr.append("<td class='col-md-2'><div style='padding-bottom: 14px;'>" + (i + 1) + "</div></td>")
              tr.append("<td class='col-md-6'><div style='padding-bottom: 14px;'>" + data.histories[i].total_comment_count + "</div></td>")
              tr.append("<td class='col-md-4'><div style='padding-bottom: 14px;'>" + data.histories[i].date_commented + "</div></td>")

              $('#historyLogTable > tbody').append(tr)
          }

      })

      _socket.on('updateLoggedUserInfo', function(data) {
        $("#username").html(data.username)
        $("#password").html(data.password)
        $("#totalPost").html(data.totalPost)
      })

      _socket.on('serviceStarted', function() {
        if (_isStopped) {
          location.reload()
        }
      })

      _socket.on('GetTrendingCompleted', function() {

          toggleDisability(false)

          $('#btnStart').prop('disabled', false)
          $("#waitIndicator").hide()

          _socket.emit('request data')
      })

      function onAddEdit(id, keyword, action,i) {
        console.log(keyword)
          _id = id
          _editPassword = _usersData.users[i].password
          $('#keywordModalTitle').text(action)
          $('#keyword').val(keyword)
          $('#editPassword').val(_editPassword)

      }

      function onAddEditPost(id, action, i) {
          if(id == null && i == null){
            _imagePath = null
            $('#keywordModalTitlePost').text(action)
            $('#content').val('')
          } else {
            _imagePath = _postData.posts[i].imagepath
            _id = id
            $('#keywordModalTitlePost').text(action)
            $('#content').val(_postData.posts[i].content)
            $('#imagepath').attr('src','/images/' + _imagePath ).height(292)
          }
          console.log(_postData.posts[i].imagepath)
      }

      function onAddPost(id, action, i) {
          $('#addPostImagePath').val('')
          if(id == null && i == null){
            _imagePath = null
            $('#keywordAddModalTitlePost').text(action)
            $('#addPostContent').val('')
          } else {
            _imagePath = _postData.posts[i].imagepath
            _id = id
            $('#keywordAddModalTitlePost').text(action)
            $('#addPostContent').val(_postData.posts[i].content)
            $('#imagepath').attr('src','/images/' + _imagePath ).height(292);
          }
      }
      function importUsersCsv(){
        let postContentForm = new FormData()
        postContentForm.append('csv',document.getElementById('excelFile').files[0])
          $.ajax({
            url: '/importUsersCsv',
            type: 'POST',
            data: postContentForm,
            processData: false,
            contentType: false,
            cache: false,
            success: function(res) {
              // location.reload()
            }
          })
        $("#btnImportUsersClose").trigger("click")
      }
      function onUpdateSettingsLimit(){
        $.ajax({
          type: 'POST',
          url: '/changeSettingsLimit',
          data: {
            id: 3,
            value:$('#settingsLimit').val()
          }
        })
        $("#btnSettingsModalClose").trigger("click")
        _socket.emit('request data')
      }

      function resetPost(){
        $.ajax({
          type: 'POST',
          url: '/resetPost',
          success : function(res){
              _socket.emit('request data')
          }
        })
        $("#btnSettingsModalClose").trigger("click")
        _socket.emit('request data')
      }

      function onDeletePost(id,i){
        if (confirm('Do you really want to remove this post?')) {
          $.ajax({
            type: 'POST',
            url: '/removePost',
            data: {
              id   : id,
              name : _postData.posts[i].imagepath
            },
            success: function(res) {
               _socket.emit('request data')
            }
          })
        }
        $("#btnSettingsModalClose").trigger("click")
        _socket.emit('request data')
      }

      function changeImage(input){
        console.log()
        let reader = new FileReader()
        reader.onload = function (e) {
         // $('#dump').text(e.target.result)
          $('#imagepath').attr('src', e.target.result)
          $('#addPostImagePath').attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0])
      }

      function onSavePost() {
        if ($('#content').val() == '') {
            alert('Please enter content.')
            return
        } else {
          if (confirm('Do you really want to edit this post?')) {
          let contentData = {
                'id': _id,
                'content': $('#content').val(),
                'image':$('#fileImage').val()
          }
          let postContentForm = new FormData()
          postContentForm.append('data',JSON.stringify(contentData))
          postContentForm.append('attachment',document.getElementById('fileImage').files[0])

            $.ajax({
              url: '/changePostContent',
              type: 'POST',
              data: postContentForm,
              processData: false,
              contentType: false,
              cache: false,
              success: function(res) {
                if(res)
                console.log(res)
                 location.reload()
                //_socket.emit('request data')
              }
            })
          }
        }

        $("#btnPostAddEditClose").trigger("click")
        $("#fileImage").val('')
        _socket.emit('request data')
      }

      function onSaveAddPost() {
        if ($('#addPostContent').val() == '') {
            alert('Please enter content.')
            return
        } else {
          if (confirm('Do you really want to add this post?')) {
          let contentData = {
                'content': $('#addPostContent').val(),
                'image' : $('#addPostFileImage').val()
          }
          let postContentForm = new FormData()
          postContentForm.append('data',JSON.stringify(contentData))
          postContentForm.append('attachment',document.getElementById('addPostFileImage').files[0])
            $.ajax({
              url: '/addPostContent',
              type: 'POST',
              data: postContentForm,
              processData: false,
              contentType: false,
              cache: false,
              success: function(res) {
                if(res)
                // location.reload()
                _socket.emit('request data')
              }
            })
          }
        }
        $("#btnAddPostClose").trigger("click")
        $("#addPostFileImage").val('')
        _socket.emit('request data')
      }

      function onSave() {

        if ($('#keyword').val() == '') {
            alert('Please enter keyword.')
            return
        }

        if ($('#keywordModalTitle').text() == 'Add Keyword') {

          if (confirm('Do you really want to add this account?')) {
            $.ajax({
              type: 'POST',
              url: '/keywords',
              data: {
                action: 'Insert',
                id: _id,
                keyword: $('#keyword').val()
              }
            })
          }

        } else {

          if (confirm('Do you really want to update this account?')) {
            $.ajax({
              type: 'POST',
              url: '/keywords',
              data: {
                action: 'Update',
                id: _id,
                keyword: $('#keyword').val(),
                editPassword : $('#editPassword').val(),
              }
            })
          }

        }
        $("#btnAddEditClose").trigger("click")
      }


      function onDelete(id) {
        if (confirm('Do you really want to remove this account?')) {
          $.ajax({
            type: 'POST',
            url: '/keywords',
            data: {
              action: 'Delete',
              id: id,
              keyword: $('#keyword').val()
            },
            success: function(res) {
              // location.reload()
            }
          })
        }

      }

      $('#btnDeleteAll').click(function () {

          if (confirm('Do you really want to delete all keywords?')) {
            $.ajax({
              type: 'POST',
              url: '/keywords',
              data: {
                action: 'DeleteAll',
                id: '',
                keyword: ''
              },
              success: function(res) {
                alert("All keywords are deleted.")
                // location.reload()
              }
            })
          }

      })

      $('#btnImport').click(function (event) {

        event.preventDefault()

        var form = $('#uploadForm')[0]
        var data = new FormData(form)

        $('#btnImport').prop('disabled', true)

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/uploadPromos",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
                alert('File imported successfully. ')
                $("#btnImport").prop("disabled", false)
                location.reload()
            },
            error: function (err) {
                alert("File upload error. \n" + '(' + err.status + ') ' + err.responseText)
                $("#btnImport").prop("disabled", false)
            }
        })
      })

      // function getFile(inputFile) {
      //   let csvReader = new FileReader()
      //   let file = inputFile.files[0]
      //   console.log()
      //   csvReader.readAsText(file)
      //   console.log(file)
      //   csvReader.onload = function (e) {
      //     let parsed = csvJSON(evt.target.result)
      //     console.log(parsed)
      //    return parsed
      //   }
      // }
      // function readFile(evt) {
      //
      //
      //  return parsed
      //}
      $('#btnImportUsers').click(function (event) {
        // event.preventDefault()
        //
        //
        //
        // function readFile(evt) {
        //   let parsed = csvJSON(evt.target.result);
        //   return parsed;
        // }


        // event.preventDefault()
        //
        // var form = $('#uploadForm')[0]
        // var data = new FormData(form)
        // console.log(data)

      //  $('#btnImport').prop('disabled', true)

        // $.ajax({
        //     type: "POST",
        //     enctype: 'multipart/form-data',
        //     url: "/uploadPromos",
        //     data: data,
        //     processData: false,
        //     contentType: false,
        //     cache: false,
        //     timeout: 600000,
        //     success: function (data) {
        //         alert('File imported successfully. ')
        //         $("#btnImport").prop("disabled", false)
        //         location.reload()
        //     },
        //     error: function (err) {
        //         alert("File upload error. \n" + '(' + err.status + ') ' + err.responseText)
        //         $("#btnImport").prop("disabled", false)
        //     }
        // })
      })

      $('#btnExport').click(function () {

        if(confirm('Do you want to Export the Users Data?')) {

           $.ajax({
            type: 'POST',
            url: '/export',
            success: function(res) {
              alert('Users are exported successfully. ')
            },
            error: function(err) {
              alert("Users exportation error. \n" + '(' + err.status + ') ' + err.responseText)
            }
          })

        }

      })

      $(document).ready(function() {
        $('#btnStop').prop('disabled', true)
        $('#posting').hide()
        $('#stopping').hide()
        $("#noRecordIndicator").hide()
        $("#waitIndicator").hide()
        $("#userLoggedInfo").hide()

        _socket.emit('request data')
      })

      $('#userpage').click(function () {
        window.location.replace("/users")
      })

      $('#btnStart').click(function() {

        if (!checkValidation()) {
          return
        } else {

          toggleDisability(true)

          $('#btnStart').prop('disabled', true)
          $('#btnStop').prop('disabled', false)
          $('#keywordTable').find("button").prop('disabled', true)
          $('#posting').show()
          $('#stopping').hide()
          $("#userLoggedInfo").show()

          _isStarted = true
          _isStopped = false
        }

        $.ajax({
          type: 'GET',
          url: 'https://api.ipify.org',
          success: function(res) {
            _externalIP = res

            $.ajax({
              type: 'POST',
              url: '/start',
              data: {
                isWait: _isWait,
                externalIP: _externalIP,
                username: $('#username').val(),
                password: $('#password').val(),
                postMessage: $('#postMessage').val(),
                commentMessage: $('#commentMessage').val(),
                photo: $('#photo').val(),
                postTitle: $('#postTitle').val(),
                websiteName: $('#websiteName').val(),
                websiteAddress: $('#websiteAddress').val(),
                postMessages: $('#postMessages').val(),
                attachmentFile: $('#attachmentFile').val(),
                timeInterval: $('#timeInterval').val(),
                retweetCount: $('#retweet').val(),
                maxCommentCount: $('#maxComment').val()
              },
              success: function(res) {
                var remainingTime = res.remainingTime
                var isWait = res.isWait

                $('#username').val(res.username)
                $('#password').val(res.password)
                $('#postMessage').val(res.postMessage)
                $('#commentMessage').val(res.commentMessage)
                $('#photo').val(res.photo)

                var postTimer = setInterval(() => {
                  remainingTime -= 1000

                  if (_isStopped) {
                    $('#counting').hide()
                    $('#posting').hide()
                    _isWait = false
                    clearInterval(postTimer)
                    return
                  }

                  if (isWait == true) {
                    $('#counting').show()
                    $('#posting').hide()
                    $('#counterDown').html('<p>Countdown Time: ' + Math.floor((remainingTime/1000/60) << 0) + 'min(s) and ' + Math.floor(((remainingTime/1000) % 60) + 1) + 'sec</p>')
                    _isWait = false
                  } else {
                    $('#posting').show()
                    $('#counting').hide()
                    _isWait = true
                  }

                  if (remainingTime == 0) {
                    console.log(remainingTime)
                    clearInterval(postTimer)
                    startPost()
                  }

                }, 1000)
              }
            })
          }
        })

      })

      $('#btnStop').click(function() {

        $.ajax({
          type: 'POST',
          url: '/stop',
          error: function(res) {

            _isStopped = true
            _isStarted = false

            $('#posting').hide()
            $('#stopping').show()
            $("#userLoggedInfo").hide()

          }
        })
      })

      function toggleDisability(isDisabled) {
        $('#username').prop('disabled', isDisabled)
        $('#password').prop('disabled', isDisabled)
        $('#photo').prop('disabled', isDisabled)
        $('textarea').prop('disabled', isDisabled)
        $('#btnAddKeyword').prop('disabled', isDisabled)
        $('#btnDeleteAll').prop('disabled', isDisabled)
        $('#btnTrending').prop('disabled', isDisabled)
        $('#retweet').prop('disabled', isDisabled)
        $('#maxComment').prop('disabled', isDisabled)
      }

      function checkValidation() {

        // if ($('#username').val() == '') {
        //   alert('Please enter a username.')
        //   return false
        // }
        //
        // if ($('#password').val() == '') {
        //   alert('Please enter a password.')
        //   return false
        // }

        if ($('#commentMessage').val() == '') {
          alert('Please enter a comment message.')
          return false
        }

        if ($('#photo').val() == '') {
          alert('Please enter a photo.')
          return false
        }

        if ($('#keywordTable tr').length == 1) {
          alert('No keyword found.')
          return false
        }

        return true
      }

      function guid() {

        function s4() {
          return Math.floor((1 + Math.random()) * 0x10000)
                     .toString(16)
                     .substring(1);
        }

        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
          s4() + '-' + s4() + s4() + s4();
      }

    </script>
  </body>
</html>
